/* Coolors Exported Palette - https://coolors.co/bea19a-64a1b2-231b1b-f7753c-f99265 */

/* CSS HEX */
--rosy-brown: #bea19aff;
--moonstone: #64a1b2ff;
--licorice: #231b1bff;
--orange-crayola: #f7753cff;
--atomic-tangerine: #f99265ff;

/* CSS HSL */
--rosy-brown: hsla(12, 22%, 67%, 1);
--moonstone: hsla(193, 34%, 55%, 1);
--licorice: hsla(0, 13%, 12%, 1);
--orange-crayola: hsla(18, 92%, 60%, 1);
--atomic-tangerine: hsla(18, 93%, 69%, 1);

/* SCSS HEX */
$rosy-brown: #bea19aff;
$moonstone: #64a1b2ff;
$licorice: #231b1bff;
$orange-crayola: #f7753cff;
$atomic-tangerine: #f99265ff;

/* SCSS HSL */
$rosy-brown: hsla(12, 22%, 67%, 1);
$moonstone: hsla(193, 34%, 55%, 1);
$licorice: hsla(0, 13%, 12%, 1);
$orange-crayola: hsla(18, 92%, 60%, 1);
$atomic-tangerine: hsla(18, 93%, 69%, 1);

/* SCSS RGB */
$rosy-brown: rgba(190, 161, 154, 1);
$moonstone: rgba(100, 161, 178, 1);
$licorice: rgba(35, 27, 27, 1);
$orange-crayola: rgba(247, 117, 60, 1);
$atomic-tangerine: rgba(249, 146, 101, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #bea19aff, #64a1b2ff, #231b1bff, #f7753cff, #f99265ff);
$gradient-right: linear-gradient(90deg, #bea19aff, #64a1b2ff, #231b1bff, #f7753cff, #f99265ff);
$gradient-bottom: linear-gradient(180deg, #bea19aff, #64a1b2ff, #231b1bff, #f7753cff, #f99265ff);
$gradient-left: linear-gradient(270deg, #bea19aff, #64a1b2ff, #231b1bff, #f7753cff, #f99265ff);
$gradient-top-right: linear-gradient(45deg, #bea19aff, #64a1b2ff, #231b1bff, #f7753cff, #f99265ff);
$gradient-bottom-right: linear-gradient(135deg, #bea19aff, #64a1b2ff, #231b1bff, #f7753cff, #f99265ff);
$gradient-top-left: linear-gradient(225deg, #bea19aff, #64a1b2ff, #231b1bff, #f7753cff, #f99265ff);
$gradient-bottom-left: linear-gradient(315deg, #bea19aff, #64a1b2ff, #231b1bff, #f7753cff, #f99265ff);
$gradient-radial: radial-gradient(#bea19aff, #64a1b2ff, #231b1bff, #f7753cff, #f99265ff);